<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }




  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    /* max-width: 960px; */
    background: #316498;
    color: #fff;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
</style>

<!-- Toolbar -->
<div id="loader">
  <div class="lds-grid">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="toolbar" role="banner">

  <span>Welcome</span>

</div>

<div class="content" role="main">


  <div class="login-form-bd">

    <div class="container mt-2">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md">
          <div class="container">
            <form class="form-inline" action="">
              <div class="row d-flex justify-content-center align-items-center">

                <div class="form-group col ">
                  <input type="text" [(ngModel)]="note" class="form-control" id="note" placeholder="Enter note"
                    name="Todo">
                </div>
                <div class=" form-group col ">
                  <button type="button" class="form-control btn btn-success" (click)="submit()">Submit</button>
                </div>
                <div class=" form-group col">
                  <button type="button" class="form-control btn btn-light" (click)="openPDF()">PDF Export</button>
                </div>
                <div class=" form-group col">
                  <button type="button" class="form-control btn btn-light" (click)="Export()">Excel Export</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>


</div>
<div class="p-2  d-flex justify-content-center align-items">
  <div class="table-responsive w-50 text-center" id="htmlData">
    <table  class="table table-fixed table-bordered fixed_header">
      <tbody id="export-table">
        <tr>
          <th>#</th>
          <th>Notes</th>
        </tr>
        <tr *ngFor="let item of data; let i = index">
          <td>
            <p>
              {{i+1}}
            </p>
          </td>
          <td>
            <p>
              {{item.value}}
            </p>
          </td>
        </tr>
      </tbody>
      <!-- <tbody *ngIf="show" > No Data to Show </tbody> -->
    </table>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>